@import 'bootstrap';

/* css login */
.gradient-custom {
    background: #F5DEB3;
}

/* css dashboard */
.nav-link-custom:hover,
.i-link-custom:hover {
    color: grey !important;
}

.nav-link-custom:hover {
    text-decoration: underline !important;
}

td,
th {
    width: 25px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

/* css navbar */
.nav-link {
    color: black;
}

.nav-link:hover {
    color: RGBA(var(--bs-secondary-rgb), var(--bs-link-opacity, 1)) !important;
    color: white !important;
}

.link-underline-dark{
    text-decoration: underline;
}

.fa-arrow-right-from-bracket:hover {
    color: white;
}

.disabled {
    color: white !important;
}

.auth-link:hover {
    border-bottom: 0.5px solid black;
}

/* css section */
.card-custom {
    width: 20rem;
    height: 25rem;
    border-radius: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-position 0.3s;
}

.card-custom:hover {
    background-position: right 50%;
}

.border-custom {
    border: 0;
    border-radius: 0;
    background-color: #F0F0F0
}

/* mediaquery */
@media screen and (min-width: 992px) {

    /* css header */
    header {
        background-image: url('/public/Leggere-libri-velocemente.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        background-attachment: fixed;
        height: 100vh;
        padding-top: 10%;
        margin-top: 0 !important;
    }

    /* css section */
    .bg-img {
        background-image: url('/public/vend1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        padding: 15% 25%;
    }

    /* css form create/edit */
    .row-custom {
        width: 50%;
    }

    /* css dashboard */
    .btn-edit {
        display: block!important;
    }

    .icon-edit {
        display: none!important;
    }

    /* css show */
    .margin-show {
        margin-top: 5%!important;
    }
}